body {
    background-image: url(/images/dac6a6-260143c5-00aa-45dc-91cc-97b11669049c.gif);

}

.board-container {
    margin: auto;
    margin-top: 250px;
    background-color: black;
    border-radius: 10px;
    margin-top: 40px;
}

table,
td {

    border: 1px solid black;
    border-radius: 10px;

}

:root {
    --textColor: white;
    text-align: center;
    --font: cursive;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: auto;
    font-style: italic;
    -webkit-text-stroke: 3px darkmagenta;
    position: relative;
}

h2 {
    color: black;
}

span {
    background-color: blue;
    border-radius: 10px;
}

p {
    font-size: 30px;
    text-align: center;
    margin-top: 300px;
    color: black;
    font-style: italic;
    background-color: aqua;

}

.difficulty-container {
    margin: auto;
    text-align: center;
    font-style: italic;
    margin-top: 200px;
    font-size: 20px;
    margin-top: -10px;
}

.difficulty-container button {

    background-color: lightseagreen;
    font-size: 1.2rem;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;

}

.smiley {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-top: -50px;

}

.smiley button {
    margin: auto;
    text-align: center;
    font-size: 60px;
    height: 100px;
    width: 100px;
    background-color: gray;
    cursor: pointer;


}

.flag-box,
.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 75px;
    background: #262626;
    border: 5px solid;
    border-color: #7c8a76 #e2e8ce #e2e8ce #7c8a76;
    color: #ff7f11;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.valid,
.bomb {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #e2e8ce #7c8a76 #7c8a76 #e2e8ce;
    box-sizing: border-box;
}

.lives-container {

    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;


}

.is-shown-lCell {

    background-color: gray;
    background-image: none;
}

.lCell {
    background-image: var(--CellbackgroundColor);
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: 1px solid white;
    border-radius: 4px;
    color: var(--textColor);
    font-weight: 600;
    cursor: pointer;
    width: 60px;
    height: 60px;

}