html,
body {
    background-image: url('../images/blue_cubes-wallpaper-1920x1080.jpg');
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
}

.board-container {
    margin: auto;
    margin-top: 250px;
    background-color: black;
    border-radius: 10px;
    margin-top: 50px;
}

table,
td {

    border: 5px solid black;
    border-radius: 10px;

}

:root {
    --textColor: white;
    text-align: center;
    --font: cursive;
}


h1 {
    font-size: 60px;
    text-align: center;
    margin: auto;
    font-style: italic;
    -webkit-text-stroke: 3px darkmagenta;
    position: relative;
}

h2 {
    color: black;
}

h3 {

    font-size: 40px;
    margin-top: 10%;

}

span {
    background-color: blue;
    border-radius: 10px;
}

p {
    font-size: 30px;
    text-align: center;
    margin-top: 300px;
    color: black;
    font-style: italic;
    background-color: rgb(13, 21, 139);

}

.difficulty-container {
    margin: auto;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-top: 10px;
}

.difficulty-container button {

    background-color: lightseagreen;
    font-size: 1.2rem;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 0px;

}

.smiley {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-top: -50px;

}

.smiley button {
    margin: auto;
    text-align: center;
    font-size: 60px;
    height: 100px;
    width: 100px;
    background-color: gray;
    cursor: pointer;


}

.flag-box,
.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 75px;
    background: #262626;
    border: 5px solid;
    border-color: #7c8a76 #e2e8ce #e2e8ce #7c8a76;
    color: #ff7f11;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.valid,
.bomb {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #e2e8ce #7c8a76 #7c8a76 #e2e8ce;
    box-sizing: border-box;
}

.lives-container {

    margin: auto;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;


}

.is-shown-cell {

    background-color: gray;
    background-image: none;
}

.cell {
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: 1px solid white;
    border-radius: 4px;
    color: var(--textColor);
    font-weight: 600;
    cursor: pointer;
    width: 60px;
    height: 60px;

}

.hints-container {
    padding-right: 140px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    text-align: center;
    width: 55px;
    margin-top: 100px;
}

.hint {
    font-size: 50px;
    cursor: pointer;
}

.hint-active {
    text-shadow: 0 0 10px #d4ff00,
        0 0 0px #d4ff00,
        0 0 0px #d4ff00,
        0 0 4px #d4ff00,
        0 0 5px #d4ff00,
        0 0 0px #d4ff00,
        0 0 0px #d4ff00
}

.undo-button {
    background-color: orange;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-style: italic;
    margin-top: 40px;
}